
@import "blueprint";
@import "partials/base";
@import "blueprint/scaffolding";
@import "compass/utilities";
@import "compass/reset";

@include blueprint-scaffolding;
@include blueprint-utilities;
@include blueprint-grid;
@include blueprint-typography;
@include blueprint-debug;
@include blueprint-form; 
@include blueprint-scaffolding;

/* Mixins */

@mixin rounded($cut) {
  border-radius: $cut;
  -moz-border-radius: $cut;
  -webkit-border-radius: $cut;
}

/* Colors */

$white: #FFF;
$ti-blue: #3D34FA;
$background: #6495ED;
$background-footer: #6495FF;

/* Constants */

$grid-width: $blueprint-grid-width;
$grid-margin: $blueprint-grid-margin;
$grid-span: $blueprint-grid-width + $blueprint-grid-margin; 
$grid-height: 18px;

/* Body */

body.general {

  #container {
    @include container;   
  }

  header, footer, section {
    @include column(24);  
  }

  header, footer, section {
    a {
      @include hover-link;
    }
  }

  header, #content {
    @include rounded(4px);
    background: $white;
  }

/* Header */

  header {
    position: relative;
    
    h1 {
      @include replace-text("totaliceland.png");
      width: 400px;
      height: 100px;
      padding-left: $grid-span;
      margin-bottom: 0;
    }
    nav {
      @include horizontal-list;
      @include rounded(5px);
      position: absolute;
      background-color: $background; 
      whitespace: nowrap;  
      top: $grid-height;
      right: $grid-width + $grid-margin;
      ul {
        margin: 0 0.5em;
        padding: 0;
        li {
          padding: 0.5em 0;
          a {
            padding: 0 5px;
            font-weight: bold;
            color: $white;
          }
        }      
      }
    }
  }

/* Section */

  section {
    font-size: 120%;
    margin-top: $grid-height;
    @include blueprint-inline-form
  }

  fieldset {
    width: 350px;
  }

  #content {
    padding: $grid-span;       
  }

  .error, .alert, .notice, .success, .info {
    padding:0.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
  }

  .error, .alert {
    background:#fbe3e4;
    color:#8a1f11;
    border-color:#fbc2c4;
  }

  .field_with_errors label {
    color:#8A1F11;
  }

  .notice {
    background:#fff6bf;
    color:#514721;
    border-color:#ffd324;
  }
  .success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
  }
  .info {
    background:#d5edf8;
    color:#205791;
    border-color:#92cae4;
  }
  .error a, .alert a {
    color:#8a1f11;
  }
  .notice a {
    color:#514721;
  }
  .success a {
    color:#264409;
  }
  .info a {
    color:#205791;
  } 

/* Footer */

  footer {

    background-color: $background-footer;
    @include rounded(3px); 
    nav {
      @include horizontal-list;
      
    }
    pre {
      margin-top: $grid-height;
      padding-left: $grid-span;
    } 
  }

}

body#demo {
  background-color: $background; 
}

