%header
  %h1 Total Iceland
  %nav
    %ul
      %li{:class => "first"}
        = link_to "Home".html_safe, root_path
      %li
        = link_to "Sign In".html_safe, "#"
      %li{:class => "last"}
        = link_to "Sign Up".html_safe, signup_path
